<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.js test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="stylesheet" type="text/css" media="screen" href="/pub/css/main17.css" />
</head>
<body>
  <div id="app-24" class="app-1X">
    <button v-on:click="show = !show">Toggle[1]</button>
    <transition name="fade">
      <p v-if="show">Hello</p>
    </transition>
    <button v-on:click="show2 = !show2">Toggle[2]</button>
    <transition name="bounce">
      <p v-if="show2">Hello2</p>
    </transition>
  </div>
  <script src="/pub/js/vue.js"></script>
  <script src="/pub/js/main17.js"></script>
</body>
</html>