div.app-1X {
  width: auto;
  height: 160px;
  border: 1px solid black;
  background: url(/pub/img/bg_app13-1.jpg);
}

div.app-15-x {
  padding-left: 16px;
  padding-right: 16px;
}

div.space {
  width: auto;
  height: 24px;
}

div.app-16-x {
  padding-left: 16px;
  padding-right: 16px;
  width: auto;
  height: 36px;
  border: 1px solid blue;
}

div.app-17-x {
  padding-left: 16px;
  padding-right: 16px;
}
