#app-14 {
  width: auto;
  height: 240px;
  background-color: #8484f0;
}

#app-14-1 {
  width: 240px;
  height: 120px;
  border: 1px solid black;
  background: url(/pub/img/bg_app13-1.jpg);
  overflow: scroll;
}
